body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #0733e1;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 10px 10px 10px rgb(251, 101, 101);
}

.text-to-type {
    font-size: 20px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 120px;
    resize: none;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #ffa500;
    color: #140adc;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.timer {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.result {
    font-size: 18px;
}

button:hover {
    background-color: #23d137;
    color: #942b2b;
}

.cpr {
    margin-top: 300px;
}

@keyframes blink {
    0% {
        background-color: red;
    }

    10% {
        background-color: rgb(116, 228, 10);
    }

    20% {
        background-color: rgb(12, 203, 241);
    }

    30% {
        background-color: rgb(226, 5, 196);
    }

    40% {
        background-color: rgb(212, 233, 24);
    }

    50% {
        background-color: transparent;
    }

    60% {
        background-color: rgb(116, 228, 10);
    }

    70% {
        background-color: rgb(12, 203, 241);
    }

    80% {
        background-color: rgb(226, 5, 196);
    }

    90% {
        background-color: rgb(212, 233, 24);
    }

    95% {
        background-color: aquamarine;
    }

    100% {
        background-color: red;
    }
}

.cpr:hover {
    animation: blink 0.90s infinite;
    margin-left: 350px;
    margin-right: 350px;
}
